@using BookIt.Application.DTOs.SeatDTO
@model CreateSeatDTO

@{
    ViewData["Title"] = "Create Seat";
}
<br>
<br>
<br>
<br>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<h2>Create Seat</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="HallId"></label>
        <select asp-for="HallId" asp-items="ViewBag.Halls" class="form-control" id="HallId"></select>
        <span asp-validation-for="HallId" class="text-danger"></span>
    </div>
    @* <div class="form-group">
        <label asp-for="SeatName"></label>
        <input asp-for="SeatName" class="form-control" />
        <span asp-validation-for="SeatName" class="text-danger"></span>
    </div> *@
    <div class="form-group">
        <label asp-for="SeatRow"></label>
        <input asp-for="SeatRow" class="form-control" />
        <span asp-validation-for="SeatRow" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SeatColumn"></label>
        <input asp-for="SeatColumn" class="form-control" />
        <span asp-validation-for="SeatColumn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SeatTypeId"></label>
        <select asp-for="SeatTypeId" asp-items="ViewBag.SeatTypes" class="form-control" id="SeatTypeId"></select>
        <span asp-validation-for="SeatTypeId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create Seat</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#HallId').change(function () {
                var hallId = $(this).val();
                if (!hallId) return;

                $.ajax({
                    url: '@Url.Action("GetSeatTypesByHall", "Seat", new { area = "Admin" })',
                    data: { hallId: hallId },
                    success: function (data) {
                        var $seatTypeDropdown = $('#SeatTypeId');
                        $seatTypeDropdown.empty();

                        $seatTypeDropdown.append($('<option>').val('').text('-- Select Seat Type --'));

                        $.each(data, function (index, item) {
                            $seatTypeDropdown.append($('<option>', {
                                value: item.id, 
                                text: item.name 
                            }));
                        });
                    },
                    error: function () {
                        alert('Error retrieving seat types.');
                    }
                });
            });
        });
    </script>
}