
@model BookIt.Application.DTOs.SeatDTO.UpdateSeatDTO
@{
    ViewBag.Title = "Update Seat";
}
<br>
<br>
<br>
<br>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })



<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="HallId" />
    <div class="form-group">
        <label asp-for="SeatName"></label>
        <input asp-for="SeatName" class="form-control" />
        <span asp-validation-for="SeatName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SeatRow"></label>
        <input asp-for="SeatRow" class="form-control" />
        <span asp-validation-for="SeatRow" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SeatColumn"></label>
        <input asp-for="SeatColumn" class="form-control" />
        <span asp-validation-for="SeatColumn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SeatTypeId"></label>
        <input asp-for="SeatTypeId" class="form-control" />
        <span asp-validation-for="SeatTypeId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update Seat</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
