@using BookIt.Application.DTOs.EventSeatTypeDTO
@model CreateEventDetailSeatTypeDTO

@{
    ViewData["Title"] = "Create Event Seat Type";
    var eventDetailId = ViewBag.EventDetailId;
}
<br>
<br>
<br>
<br>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })


<h2>Create Event Seat Type for Event Detail @eventDetailId</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="EventDetailId" value="@eventDetailId" />

    <div class="form-group">
        <label asp-for="SeatTypeId"></label>
        <input asp-for="SeatTypeId" class="form-control" />
        <span asp-validation-for="SeatTypeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AdditionalDetails"></label>
        <textarea asp-for="AdditionalDetails" class="form-control"></textarea>
        <span asp-validation-for="AdditionalDetails" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
