@using BookIt.Application.DTOs.EventSeatTypeDTO
@model UpdateEventDetailSeatTypeDTO

@{
    ViewData["Title"] = "Update Event Seat Type";
}
<br>
<br>
<br>
<br>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<h2>Update Event Seat Type</h2>

<form asp-action="Update" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AdditionalDetails"></label>
        <textarea asp-for="AdditionalDetails" class="form-control"></textarea>
        <span asp-validation-for="AdditionalDetails" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
