@model BookIt.Application.DTOs.EventDTO.CreateEventDTO

@{
    var generalLocations = ViewData["GeneralLocations"] as IEnumerable<SelectListItem>;
    var categories = ViewData["Categories"] as IEnumerable<SelectListItem>;
}

<div class="card mb-4">
    <div class="card-header">
        <h3>Event Information</h3>
    </div>
    <div class="card-body">
        <form asp-action="Create" asp-controller="Event" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath">Event Image</label>
                <input asp-for="ImagePath" type="file" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDate"></label>
                <input asp-for="EventDate" type="date" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceRange"></label>
                <input asp-for="PriceRange" class="form-control" />
                <span asp-validation-for="PriceRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneralLocationId">General Location</label>
                <select asp-for="GeneralLocationId" class="form-control" asp-items="generalLocations"></select>
                <span asp-validation-for="GeneralLocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
           
            <button type="submit" class="btn btn-primary">Save Event</button>
        </form>
    </div>
</div>