@model BookIt.Application.DTOs.AuthorizationDTO.RegisterDTO
@{
    ViewData["Title"] = "Register";
}

<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    <!-- ==========Sign-In-Section========== -->
    <section class="account-section bg_img" data-background="assets/images/account/account-bg.jpg">
        <div class="container">
            <div class="padding-top padding-bottom">
                <div class="account-area">
                    <div class="section-header-3">
                        <span class="cate">welcome</span>
                        <h2 class="title">to BookIt</h2>
                    </div>
                    <form class="account-form" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FirstName">First Name<span>*</span></label>
                            <input asp-for="FirstName" type="text" placeholder="Enter Your First Name" required>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName">Last Name<span>*</span></label>
                            <input asp-for="LastName" type="text" placeholder="Enter Your Last Name" required>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">Email<span>*</span></label>
                            <input asp-for="Email" type="email" placeholder="Enter Your Email" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                       @*  <div class="form-group">
                            <label asp-for="Address">Address<span>*</span></label>
                            <input asp-for="Address" type="text" placeholder="Enter Your Address" required>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div> *@
                        <div class="form-group">
                            <label asp-for="Password">Password<span>*</span></label>
                            <input asp-for="Password" type="password" placeholder="Password" required>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirm Password<span>*</span></label>
                            <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" required>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NotificationLanguage">Notification Language</label>
                            <select asp-for="NotificationLanguage" asp-items="Html.GetEnumSelectList<BookIt.Domain.Enums.LanguageType>()" class="form-control"></select>
                            <span asp-validation-for="NotificationLanguage" class="text-danger"></span>
                        </div>
                        <div class="form-group checkgroup">
                            <input type="checkbox" id="bal" required checked>
                            <label for="bal">I agree to the <a href="#0">Terms, Privacy Policy</a> and <a href="#0">Fees</a></label>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Sign Up">
                        </div>
                    </form>
                    <div class="option">
                        Already have an account? <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Login</a>
                    </div>
                    <div class="or"><span>Or</span></div>
                    <ul class="social-icons">
                        <li>
                            <a href="#0">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="active">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Sign-In-Section========== -->


    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/magnific-popup.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/countdown.min.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/viewport.jquery.js"></script>
    <script src="assets/js/nice-select.js"></script>
    <script src="assets/js/main.js"></script>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}